<p>Here's the calculator</p>
<span>Button Clicked: {{ count }}</span>
<p>
  <button ng-click="count = 'Clear'">C</button>
  <button ng-click="count = 'plus/minus'">&plusmn;</button>
  <button ng-click="count = 'percent'">%</button>
  <button ng-click="count = 'divided by'">&divide;</button>
</p><p>
  <button ng-click="count = 7">7</button>
  <button ng-click="count = 8">8</button>
  <button ng-click="count = 9">9</button>
  <button ng-click="count = 'times'">&times;</button>
</p><p>
  <button ng-click="count = 4">4</button>
  <button ng-click="count = 5">5</button>
  <button ng-click="count = 6">6</button>
  <button ng-click="count = 'minus'">-</button>
</p><p>
  <button ng-click="count = 1">1</button>
  <button ng-click="count = 2">2</button>
  <button ng-click="count = 3">3</button>
  <button ng-click="count = 'plus'">+</button>
</p>
