<p>Here's the calculator</p>
<span>Button Clicked: {{ count }}</span>
<section>
  <md-button class="md-raised" ng-click="count = 'Clear'">C</md-button>
  <md-button class="md-raised" ng-click="count = 'plus/minus'">&plusmn;</md-button>
  <md-button class="md-raised" ng-click="count = 'percent'">%</md-button>
  <md-button class="md-raised" ng-click="count = 'divided by'">&divide;</md-button>
</section>
<section>
  <md-button class="md-raised" ng-click="count = 7">7</md-button>
  <md-button class="md-raised" ng-click="count = 8">8</md-button>
  <md-button class="md-raised" ng-click="count = 9">9</md-button>
  <md-button class="md-raised" ng-click="count = 'times'">&times;</md-button>
</section>
<section>
  <md-button class="md-raised" ng-click="count = 4">4</md-button>
  <md-button class="md-raised" ng-click="count = 5">5</md-button>
  <md-button class="md-raised" ng-click="count = 6">6</md-button>
  <md-button class="md-raised" ng-click="count = 'minus'">-</md-button>
</section>
<section>
  <md-button class="md-raised" ng-click="count = 1">1</md-button>
  <md-button class="md-raised" ng-click="count = 2">2</md-button>
  <md-button class="md-raised" ng-click="count = 3">3</md-button>
  <md-button class="md-raised" ng-click="count = 'plus'">+</md-button>
</section>


